// Color
$primary-color: #FF3814; /* accent color */
$light-brown: #C9B49D; /* used for axis on chart */
$dark-brown: #735C45; /* used for text on charts, figcaption */
$font-brown: #52412F;
$background-color: #EDE6DE;

// Space
$vertical-padding: 20px;

// Font
$mono-font: 'PT Mono', monospace;
$sans-font: 'PT Sans', sans-serif;

// Layout
$S: 480px;
$M: 768px;
$L: 1000px;